*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
    font-weight: bold;
}

h1{
    margin-bottom: 80px;
}
.inputForm{
    padding: 10px;
}
.inputForm label{
    width: 30px;
    display: inline;
    margin-right: 25px;
}
.inputForm input{
    width: 150px;
    display: inline;
    color: black;
    font-weight: normal;
}

.inputForm #loginBt{
    margin-top: 40px;
    width:200px;
}
ul{
    list-style: none;
}

#backgroundVideo{
    width: 100%;
}

#loginSector{
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.siteInfo{
    background-color: black;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
    color: white;
    padding-bottom: 15px;
    position:absolute;
    width: 100%;
    top: calc(100%);
}
